.taskList div {
    border-width: 1px;
    border-style: solid;
    display: block;
    margin: 30px;
    padding: 20px;
}

.dashboard li {
    list-style-type: none;
    /*font-size: 40px;*/
}

.ToDo {
    background-color: red;
}

.InProgress {
    background-color: yellow;
}

.Done {
    background-color: green;
}